/gen/ linguist-generated=true
/gen/**/*.yml linguist-generated=true
/.github/workflows/*.yml linguist-generated=true
/tf/dns-hosts/hosts.tf linguist-generated=true
/tf/k8s-prom/gen/**/*.yml linguist-generated=true
/route53/hosts.json linguist-generated=true
