[Unit]
Description=rk-move-overlay-wg-iface
After=systemd-nspawn@underlay.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rk-move-overlay-wg-iface

[Install]
WantedBy=systemd-nspawn@underlay.service
