{
  "apiVersion": "apps/v1",
  "kind": "Deployment",
  "metadata": {
    "labels": {
      "rubykaigi.org/app": "unbound"
    },
    "name": "unbound"
  },
  "spec": {
    "replicas": 4,
    "selector": {
      "matchLabels": {
        "rubykaigi.org/app": "unbound"
      }
    },
    "template": {
      "metadata": {
        "labels": {
          "rubykaigi.org/app": "unbound"
        }
      },
      "spec": {
        "containers": [
          {
            "args": [
              "-c",
              "/etc/unbound/unbound.conf",
              "-dd"
            ],
            "env": [],
            "image": "005216166247.dkr.ecr.ap-northeast-1.amazonaws.com/unbound:924bebe030149dbd0f0a3c9d1b9e331cc8d02be9",
            "livenessProbe": {
              "failureThreshold": 2,
              "httpGet": {
                "path": "/healthz",
                "port": 9167,
                "scheme": "HTTP"
              },
              "periodSeconds": 3
            },
            "name": "unbound",
            "ports": [
              {
                "containerPort": 10443,
                "name": "dns-h2",
                "protocol": "TCP"
              },
              {
                "containerPort": 9167,
                "name": "prom"
              }
            ],
            "readinessProbe": {
              "httpGet": {
                "path": "/healthz",
                "port": 9167,
                "scheme": "HTTP"
              }
            },
            "resources": {
              "requests": {
                "cpu": "5m",
                "memory": "128M"
              }
            },
            "securityContext": {
              "capabilities": {
                "add": [
                  "NET_ADMIN"
                ]
              }
            },
            "volumeMounts": [
              {
                "mountPath": "/etc/unbound",
                "name": "unbound-config",
                "readOnly": true
              },
              {
                "mountPath": "/secrets/tls-cert",
                "name": "tls-cert",
                "readOnly": true
              }
            ]
          },
          {
            "args": [
              "-C",
              "/etc/dnsdist/dnsdist.lua",
              "--supervised",
              "--disable-syslog"
            ],
            "env": [],
            "image": "005216166247.dkr.ecr.ap-northeast-1.amazonaws.com/dnsdist:924bebe030149dbd0f0a3c9d1b9e331cc8d02be9",
            "livenessProbe": {
              "failureThreshold": 2,
              "httpGet": {
                "path": "/jsonstat?command=stats",
                "port": 9823,
                "scheme": "HTTP"
              },
              "periodSeconds": 3
            },
            "name": "dnsdist",
            "ports": [
              {
                "containerPort": 10053,
                "name": "dns",
                "protocol": "UDP"
              },
              {
                "containerPort": 10053,
                "name": "dns-tcp",
                "protocol": "TCP"
              },
              {
                "containerPort": 10853,
                "name": "dns-tls",
                "protocol": "TCP"
              },
              {
                "containerPort": 10853,
                "name": "dns-quic",
                "protocol": "UDP"
              },
              {
                "containerPort": 9823,
                "name": "prom-dnsdist"
              }
            ],
            "readinessProbe": {
              "httpGet": {
                "path": "/jsonstat?command=stats",
                "port": 9823,
                "scheme": "HTTP"
              }
            },
            "resources": {
              "requests": {
                "cpu": "5m",
                "memory": "32M"
              }
            },
            "volumeMounts": [
              {
                "mountPath": "/etc/dnsdist",
                "name": "dnsdist-config",
                "readOnly": true
              },
              {
                "mountPath": "/secrets/tls-cert",
                "name": "tls-cert",
                "readOnly": true
              }
            ]
          }
        ],
        "nodeSelector": {
          "rubykaigi.org/node-group": "onpremises"
        },
        "tolerations": [
          {
            "effect": "NoSchedule",
            "key": "dedicated",
            "value": "onpremises"
          }
        ],
        "topologySpreadConstraints": [
          {
            "labelSelector": {
              "matchLabels": {
                "rubykaigi.org/app": "unbound"
              }
            },
            "matchLabelKeys": [
              "pod-template-hash"
            ],
            "maxSkew": 1,
            "topologyKey": "topology.kubernetes.io/zone",
            "whenUnsatisfiable": "DoNotSchedule"
          }
        ],
        "volumes": [
          {
            "configMap": {
              "name": "unbound-config"
            },
            "name": "unbound-config"
          },
          {
            "configMap": {
              "name": "dnsdist-config"
            },
            "name": "dnsdist-config"
          },
          {
            "name": "tls-cert",
            "secret": {
              "secretName": "cert-resolver-rubykaigi-net"
            }
          }
        ]
      }
    }
  }
}
---
{
  "apiVersion": "apps/v1",
  "kind": "Deployment",
  "metadata": {
    "labels": {
      "rubykaigi.org/app": "unbound-envoy"
    },
    "name": "unbound-envoy"
  },
  "spec": {
    "replicas": 4,
    "selector": {
      "matchLabels": {
        "rubykaigi.org/app": "unbound-envoy"
      }
    },
    "template": {
      "metadata": {
        "labels": {
          "rubykaigi.org/app": "unbound-envoy"
        }
      },
      "spec": {
        "containers": [
          {
            "args": [
              "--config-path",
              "/etc/envoy/envoy.json"
            ],
            "env": [],
            "image": "envoyproxy/envoy:v1.29.3",
            "livenessProbe": {
              "failureThreshold": 2,
              "httpGet": {
                "path": "/ready",
                "port": 9901,
                "scheme": "HTTP"
              },
              "periodSeconds": 3
            },
            "name": "envoy",
            "ports": [
              {
                "containerPort": 11443,
                "name": "dns-https",
                "protocol": "TCP"
              },
              {
                "containerPort": 11443,
                "name": "dns-https-udp",
                "protocol": "UDP"
              },
              {
                "containerPort": 9901,
                "name": "admin"
              }
            ],
            "readinessProbe": {
              "httpGet": {
                "path": "/ready",
                "port": 9901,
                "scheme": "HTTP"
              }
            },
            "resources": {
              "requests": {
                "cpu": "5m",
                "memory": "32M"
              }
            },
            "volumeMounts": [
              {
                "mountPath": "/etc/envoy",
                "name": "envoy-config",
                "readOnly": true
              },
              {
                "mountPath": "/secrets/tls-cert",
                "name": "tls-cert",
                "readOnly": true
              }
            ]
          }
        ],
        "topologySpreadConstraints": [
          {
            "labelSelector": {
              "matchLabels": {
                "rubykaigi.org/app": "unbound-envoy"
              }
            },
            "matchLabelKeys": [
              "pod-template-hash"
            ],
            "maxSkew": 1,
            "topologyKey": "topology.kubernetes.io/zone",
            "whenUnsatisfiable": "DoNotSchedule"
          }
        ],
        "volumes": [
          {
            "configMap": {
              "name": "envoy-config"
            },
            "name": "envoy-config"
          },
          {
            "name": "tls-cert",
            "secret": {
              "secretName": "cert-resolver-rubykaigi-net"
            }
          }
        ]
      }
    }
  }
}
---
