[NetDev]
Name=ip6tnl-rola
Kind=ip6tnl

[Tunnel]
Independent=yes
Local=<%= node[:acme_responder][:underlay][:address6] %>
Remote=2409:10:ba20:2f0::eb96
Mode=any
EncapsulationLimit=none
