<%- iface =  @attr -%>
<%- link4 = iface.fetch(:link4) -%>
<%- link6 = iface.fetch(:link6) -%>
<%- kernel_table = node.dig(:wire, :kernel_route_table) -%>
[Match]
Name=<%= @name %>

[Network]
IPv4Forwarding=yes
IPv6Forwarding=yes
IPv4ReversePathFilter=no
LLDP=yes
EmitLLDP=yes

[Address]
Address=<%= link4.fetch(:local) %>/32
Peer=<%= link4.fetch(:peer) %>/32
Scope=link

[Address]
Address=<%= link6.fetch(:local) %>/128
Peer=<%= link6.fetch(:peer) %>/128
<%- if kernel_table -%>

[RoutingPolicyRule]
IncomingInterface=<%= @name %>
Family=both
Table=<%= kernel_table %>
Priority=<%= @rule_priority_base + 0 %>

[RoutingPolicyRule]
OutgoingInterface=<%= @name %>
Family=both
Table=<%= kernel_table %>
Priority=<%= @rule_priority_base + 1 %>

[RoutingPolicyRule]
From=<%= link4.fetch(:local) %>/32
Table=<%= kernel_table %>
Priority=<%= @rule_priority_base + 2 %>

[RoutingPolicyRule]
From=<%= link6.fetch(:local) %>/128
Table=<%= kernel_table %>
Priority=<%= @rule_priority_base + 3 %>

<%- end -%>
