{
   "apiVersion": "apps/v1",
   "kind": "Deployment",
   "metadata": {
      "labels": {
         "rubykaigi.org/app": "tftp-s3tftpd"
      },
      "name": "tftp-s3tftpd",
      "namespace": "default"
   },
   "spec": {
      "replicas": 1,
      "selector": {
         "matchLabels": {
            "rubykaigi.org/app": "tftp-s3tftpd"
         }
      },
      "template": {
         "metadata": {
            "labels": {
               "rubykaigi.org/app": "tftp-s3tftpd"
            }
         },
         "spec": {
            "containers": [
               {
                  "args": [
                     "--blocksize=1300",
                     "s3://rk-tftp/"
                  ],
                  "env": [
                     {
                        "name": "S3TFTPD_LISTEN_PORT",
                        "value": "69"
                     },
                     {
                        "name": "AWS_REGION",
                        "value": "ap-northeast-1"
                     }
                  ],
                  "image": "ghcr.io/hanazuki/s3tftpd:0.6.1",
                  "name": "app",
                  "ports": [
                     {
                        "containerPort": 69,
                        "name": "tftp",
                        "protocol": "UDP"
                     }
                  ],
                  "resources": {
                     "requests": {
                        "cpu": "5m",
                        "memory": "64M"
                     }
                  }
               },
               {
                  "env": [
                     {
                        "name": "RUST_LOG",
                        "value": "info"
                     }
                  ],
                  "image": "005216166247.dkr.ecr.ap-northeast-1.amazonaws.com/s3tftpd-healthz:924bebe030149dbd0f0a3c9d1b9e331cc8d02be9",
                  "livenessProbe": {
                     "failureThreshold": 2,
                     "httpGet": {
                        "path": "/ping",
                        "port": 8080,
                        "scheme": "HTTP"
                     },
                     "periodSeconds": 45
                  },
                  "name": "healthz",
                  "ports": [
                     {
                        "containerPort": 8080,
                        "name": "healthz",
                        "protocol": "TCP"
                     }
                  ],
                  "readinessProbe": {
                     "httpGet": {
                        "path": "/ping",
                        "port": 8080,
                        "scheme": "HTTP"
                     }
                  },
                  "resources": {
                     "requests": {
                        "cpu": "5m",
                        "memory": "10M"
                     }
                  }
               }
            ],
            "serviceAccountName": "s3tftpd"
         }
      }
   }
}
