[Unit]
Description=Export conntrack metrics
Documentation=https://github.com/hanazuki/conntrack_exporter

[Service]
Type=exec
WorkingDirectory=/opt/conntrack_exporter
ExecStart=/usr/bin/bundle exec conntrack_exporter -b tcp://0.0.0.0:9466

DynamicUser=yes
User=conntrack_exporter
CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN
LogsDirectory=conntrack_exporter
ProtectHome=yes
ProtectProc=invisible
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
