<%- underlay = node.dig(:wire, :interfaces, :underlay) -%>
[Match]
Name=<%= underlay.fetch(:name) %>

[Link]
RequiredForOnline=routable

[Network]
<%- if underlay[:dhcpv4] -%>
DHCP=ipv4
<%- end -%>
IPv6AcceptRA=yes
IPv4Forwarding=off
IPv6Forwarding=off

<%= node.fetch(:wire).fetch(:tunnels, {}).each_key.map { |name| "Tunnel=#{name}" }.join("\n") %>

[IPv6AcceptRA]
Token=<%= underlay.fetch(:ipv6_token) %>
DHCPv6Client=yes

[DHCPv6]
UseDNS=yes
<%- if underlay[:dhcpv4] -%>

[DHCPv4]
UseDNS=yes
UseRoutes=yes
<%- end -%>
